.u-section-1 .u-sheet-1 {
  min-height: 808px;
}

.u-section-1 .u-text-1 {
  margin: 21px auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-4 {
  margin: 28px auto 0 0;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 204px;
  margin: 28px auto 0;
}

.u-section-1 .u-image-2 {
  width: 570px;
  height: 202px;
  margin: 10px auto 21px;
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 786px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 193px;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 191px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 644px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 122px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 120px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 427px;
}

.u-section-2 .u-text-1 {
  margin: 11px 0 0;
}

.u-section-2 .u-text-2 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-2 .u-gallery-1 {
  height: 160px;
  width: 500px;
  margin: 20px auto 19px;
}

.u-section-2 .u-gallery-inner-1 {
  --gap: 20px;
  grid-template-columns: repeat(3, auto);
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 747px;
  }

  .u-section-2 .u-gallery-1 {
    height: 480px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1707px;
  }

  .u-section-2 .u-gallery-1 {
    height: 1440px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1246px;
  }

  .u-section-2 .u-gallery-1 {
    height: 979px;
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 397px;
}

.u-section-3 .u-text-1 {
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-2 {
  margin: 20px auto 0 0;
}

.u-section-3 .u-gallery-1 {
  height: 160px;
  width: 500px;
  margin: 39px auto 20px;
}

.u-section-3 .u-gallery-inner-1 {
  --gap: 20px;
  grid-template-columns: repeat(3, auto);
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 717px;
  }

  .u-section-3 .u-gallery-1 {
    height: 480px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1677px;
  }

  .u-section-3 .u-gallery-1 {
    height: 1440px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1216px;
  }

  .u-section-3 .u-gallery-1 {
    height: 979px;
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1014px;
}

.u-section-4 .u-text-1 {
  margin: 20px auto 0 0;
}

.u-section-4 .u-text-2 {
  margin: 20px auto 0 0;
}

.u-section-4 .u-image-1 {
  width: 832px;
  height: 737px;
  margin: 20px auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-image-1 {
    height: 822px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 960px;
  }

  .u-section-4 .u-image-1 {
    width: 720px;
    height: 638px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 801px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 479px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 624px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 302px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 778px;
}

.u-section-5 .u-text-1 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-5 .u-text-2 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-5 .u-gallery-1 {
  height: 153px;
  width: 837px;
  margin: 29px auto 0;
}

.u-section-5 .u-gallery-inner-1 {
  --gap: 20px;
  grid-template-columns: repeat(5, auto);
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-image-1 {
  width: 1059px;
  height: 218px;
  margin: 28px auto 27px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 754px;
  }

  .u-section-5 .u-image-1 {
    width: 940px;
    height: 194px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 993px;
  }

  .u-section-5 .u-gallery-1 {
    height: 437px;
    width: 720px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }

  .u-section-5 .u-image-1 {
    width: 720px;
    height: 149px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1256px;
  }

  .u-section-5 .u-gallery-1 {
    height: 737px;
    width: 540px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-5 .u-image-1 {
    width: 540px;
    height: 112px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2025px;
  }

  .u-section-5 .u-gallery-1 {
    height: 1547px;
    width: 340px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 71px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 340px;
}

.u-section-6 .u-text-1 {
  margin: 20px auto 0 0;
}

.u-section-6 .u-text-2 {
  margin: 17px -1px 0;
}

.u-section-6 .u-image-1 {
  width: 790px;
  height: 171px;
  margin: 20px auto 30px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 325px;
  }

  .u-section-6 .u-image-1 {
    width: 720px;
    height: 156px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 286px;
  }

  .u-section-6 .u-image-1 {
    width: 540px;
    height: 117px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 243px;
  }

  .u-section-6 .u-image-1 {
    width: 340px;
    height: 74px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 440px;
}

.u-section-7 .u-text-1 {
  margin: 21px auto 0 0;
}

.u-section-7 .u-text-2 {
  margin: 20px auto 0 0;
}

.u-section-7 .u-image-1 {
  width: 790px;
  height: 171px;
  margin: 12px auto 21px;
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 425px;
  }

  .u-section-7 .u-image-1 {
    width: 720px;
    height: 156px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 386px;
  }

  .u-section-7 .u-image-1 {
    width: 540px;
    height: 117px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 343px;
  }

  .u-section-7 .u-image-1 {
    width: 340px;
    height: 74px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 544px;
}

.u-section-8 .u-text-1 {
  margin: 20px auto 0 0;
}

.u-section-8 .u-text-2 {
  margin: 21px 0 0;
}

.u-section-8 .u-image-1 {
  width: 1029px;
  height: 186px;
  margin: 39px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 528px;
  }

  .u-section-8 .u-image-1 {
    width: 940px;
    height: 170px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 488px;
  }

  .u-section-8 .u-image-1 {
    width: 720px;
    height: 130px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1297px;
  }

  .u-section-8 .u-image-1 {
    width: 540px;
    height: 98px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1261px;
  }

  .u-section-8 .u-image-1 {
    width: 340px;
    height: 62px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 979px;
}

.u-section-9 .u-text-1 {
  margin: 27px auto 0 0;
}

.u-section-9 .u-text-2 {
  margin: 20px auto 0 0;
}

.u-section-9 .u-image-1 {
  width: 84px;
  height: 85px;
  margin: 42px auto 0 802px;
}

.u-section-9 .u-image-2 {
  width: 495px;
  height: 100px;
  margin: -100px auto 0 257px;
}

.u-section-9 .u-image-3 {
  width: 498px;
  height: 100px;
  margin: 8px auto 0 254px;
}

.u-section-9 .u-image-4 {
  width: 84px;
  height: 85px;
  margin: -85px auto 0 802px;
}

.u-section-9 .u-image-5 {
  width: 495px;
  height: 100px;
  margin: 20px auto 0 257px;
}

.u-section-9 .u-image-6 {
  width: 84px;
  height: 85px;
  margin: -92px auto 0 802px;
}

.u-section-9 .u-image-7 {
  width: 495px;
  height: 104px;
  margin: 16px auto 0 257px;
}

.u-section-9 .u-image-8 {
  width: 84px;
  height: 85px;
  margin: -85px auto 0 802px;
}

.u-section-9 .u-image-9 {
  width: 498px;
  height: 108px;
  margin: 20px auto 0 254px;
}

.u-section-9 .u-image-10 {
  width: 84px;
  height: 88px;
  margin: -98px 254px 0 auto;
}

.u-section-9 .u-image-11 {
  width: 495px;
  height: 107px;
  margin: 33px auto 0 257px;
}

.u-section-9 .u-image-12 {
  width: 84px;
  height: 83px;
  margin: -95px 254px 22px auto;
}

@media (max-width: 1199px) {
  .u-section-9 .u-image-1 {
    margin-left: 702px;
  }

  .u-section-9 .u-image-2 {
    margin-left: 157px;
  }

  .u-section-9 .u-image-3 {
    margin-left: 154px;
  }

  .u-section-9 .u-image-4 {
    margin-left: 702px;
  }

  .u-section-9 .u-image-5 {
    margin-left: 157px;
  }

  .u-section-9 .u-image-6 {
    margin-left: 702px;
  }

  .u-section-9 .u-image-7 {
    margin-left: 157px;
  }

  .u-section-9 .u-image-8 {
    margin-left: 702px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-image-1 {
    margin-left: 525px;
  }

  .u-section-9 .u-image-2 {
    margin-left: 114px;
  }

  .u-section-9 .u-image-3 {
    margin-left: auto;
  }

  .u-section-9 .u-image-4 {
    margin-left: 525px;
  }

  .u-section-9 .u-image-5 {
    margin-left: 114px;
  }

  .u-section-9 .u-image-6 {
    margin-left: 525px;
  }

  .u-section-9 .u-image-7 {
    margin-left: 114px;
  }

  .u-section-9 .u-image-8 {
    margin-left: 525px;
  }

  .u-section-9 .u-image-9 {
    margin-left: 222px;
  }

  .u-section-9 .u-image-11 {
    margin-left: 225px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-image-1 {
    margin-left: 435px;
  }

  .u-section-9 .u-image-2 {
    margin-left: 24px;
  }

  .u-section-9 .u-image-4 {
    margin-left: 435px;
  }

  .u-section-9 .u-image-5 {
    margin-left: 24px;
  }

  .u-section-9 .u-image-6 {
    margin-left: 435px;
  }

  .u-section-9 .u-image-7 {
    margin-left: 24px;
  }

  .u-section-9 .u-image-8 {
    margin-left: 435px;
  }

  .u-section-9 .u-image-9 {
    margin-left: 42px;
  }

  .u-section-9 .u-image-11 {
    margin-left: 45px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 784px;
  }

  .u-section-9 .u-image-1 {
    margin-left: 256px;
  }

  .u-section-9 .u-image-2 {
    width: 340px;
    height: 69px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-image-3 {
    width: 340px;
    height: 68px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-image-4 {
    margin-top: -53px;
    margin-left: 256px;
  }

  .u-section-9 .u-image-5 {
    width: 340px;
    height: 69px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-image-6 {
    margin-top: -61px;
    margin-left: 256px;
  }

  .u-section-9 .u-image-7 {
    width: 340px;
    height: 71px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-image-8 {
    margin-top: -52px;
    margin-left: 256px;
  }

  .u-section-9 .u-image-9 {
    width: 340px;
    height: 74px;
    margin-left: 0;
  }

  .u-section-9 .u-image-10 {
    margin-top: -64px;
  }

  .u-section-9 .u-image-11 {
    width: 340px;
    height: 73px;
    margin-left: 0;
  }

  .u-section-9 .u-image-12 {
    margin-top: -61px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 1001px;
}

.u-section-10 .u-text-1 {
  margin: 21px auto 0 0;
}

.u-section-10 .u-text-2 {
  margin: 20px auto 0 0;
}

.u-section-10 .u-image-1 {
  width: 443px;
  height: 163px;
  margin: 20px auto 0 68px;
}

.u-section-10 .u-image-2 {
  width: 444px;
  height: 163px;
  margin: -163px auto 0 609px;
}

.u-section-10 .u-image-3 {
  width: 336px;
  height: 172px;
  margin: 21px auto 0 121px;
}

.u-section-10 .u-image-4 {
  width: 314px;
  height: 172px;
  margin: -172px auto 0 674px;
}

.u-section-10 .u-image-5 {
  width: 443px;
  height: 163px;
  margin: 40px auto 0 68px;
}

.u-section-10 .u-image-6 {
  width: 442px;
  height: 163px;
  margin: -163px 66px 0 auto;
}

.u-section-10 .u-image-7 {
  width: 313px;
  height: 172px;
  margin: 36px auto 0 133px;
}

.u-section-10 .u-image-8 {
  width: 318px;
  height: 172px;
  margin: -172px 121px 6px auto;
}

@media (max-width: 1199px) {
  .u-section-10 .u-image-2 {
    margin-left: 496px;
  }

  .u-section-10 .u-image-4 {
    margin-left: 626px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-image-2 {
    margin-left: 276px;
  }

  .u-section-10 .u-image-4 {
    margin-left: 406px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-image-2 {
    margin-left: 96px;
  }

  .u-section-10 .u-image-4 {
    margin-left: 226px;
  }

  .u-section-10 .u-image-6 {
    margin-top: -279px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 849px;
  }

  .u-section-10 .u-image-1 {
    width: 340px;
    height: 125px;
    margin-left: 0;
  }

  .u-section-10 .u-image-2 {
    width: 340px;
    height: 125px;
    margin-left: 0;
  }

  .u-section-10 .u-image-3 {
    margin-left: 4px;
  }

  .u-section-10 .u-image-4 {
    margin-top: -134px;
    margin-left: 26px;
  }

  .u-section-10 .u-image-5 {
    width: 340px;
    height: 125px;
    margin-left: 0;
  }

  .u-section-10 .u-image-6 {
    width: 340px;
    height: 125px;
    margin-top: -254px;
    margin-right: 0;
  }

  .u-section-10 .u-image-7 {
    margin-top: 263px;
    margin-left: 27px;
  }

  .u-section-10 .u-image-8 {
    margin-top: -69px;
    margin-right: 22px;
    margin-bottom: -346px;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 897px;
}

.u-section-11 .u-text-1 {
  margin: 26px auto 0 0;
}

.u-section-11 .u-text-2 {
  margin: 20px auto 0 0;
}

.u-section-11 .u-image-1 {
  width: 570px;
  height: 106px;
  margin: 34px auto 0;
}

.u-section-11 .u-text-3 {
  margin: -64px auto 0 171px;
}

.u-section-11 .u-image-2 {
  width: 570px;
  height: 106px;
  margin: 77px auto 0;
}

.u-section-11 .u-text-4 {
  margin: -64px auto 0 103px;
}

.u-section-11 .u-image-3 {
  width: 570px;
  height: 108px;
  margin: 69px auto 0;
}

.u-section-11 .u-text-5 {
  margin: -65px auto 0 159px;
}

.u-section-11 .u-text-6 {
  margin: 125px auto 0 111px;
}

.u-section-11 .u-image-4 {
  width: 570px;
  height: 108px;
  margin: -79px auto 0;
}

.u-section-11 .u-image-5 {
  width: 570px;
  height: 106px;
  margin: 20px auto 0;
}

.u-section-11 .u-text-7 {
  margin: -64px auto 52px 111px;
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 867px;
  }

  .u-section-11 .u-image-1 {
    width: 540px;
    height: 100px;
  }

  .u-section-11 .u-text-3 {
    margin-top: -58px;
  }

  .u-section-11 .u-image-2 {
    width: 540px;
    height: 100px;
  }

  .u-section-11 .u-text-4 {
    margin-top: -58px;
  }

  .u-section-11 .u-image-3 {
    width: 540px;
    height: 102px;
  }

  .u-section-11 .u-text-5 {
    margin-top: -59px;
  }

  .u-section-11 .u-image-4 {
    width: 540px;
    height: 102px;
  }

  .u-section-11 .u-image-5 {
    width: 540px;
    height: 100px;
  }

  .u-section-11 .u-text-7 {
    margin-top: -58px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 680px;
  }

  .u-section-11 .u-image-1 {
    width: 340px;
    height: 63px;
  }

  .u-section-11 .u-text-3 {
    margin-top: -21px;
    margin-left: 108px;
  }

  .u-section-11 .u-image-2 {
    width: 340px;
    height: 63px;
  }

  .u-section-11 .u-text-4 {
    margin-top: -21px;
  }

  .u-section-11 .u-image-3 {
    width: 340px;
    height: 64px;
  }

  .u-section-11 .u-text-5 {
    margin-top: -21px;
    margin-left: 100px;
  }

  .u-section-11 .u-image-4 {
    width: 340px;
    height: 64px;
  }

  .u-section-11 .u-image-5 {
    width: 340px;
    height: 63px;
  }

  .u-section-11 .u-text-7 {
    margin-top: -21px;
  }
}.u-section-12 .u-sheet-1 {
  min-height: 871px;
}

.u-section-12 .u-text-1 {
  margin: 27px auto 0 0;
}

.u-section-12 .u-text-2 {
  margin: 15px 0 0;
}

.u-section-12 .u-image-1 {
  width: 309px;
  height: 171px;
  margin: 15px auto 0 414px;
}

.u-section-12 .u-text-3 {
  margin: -105px 90px 0 auto;
}

.u-section-12 .u-text-4 {
  margin: -42px 822px 0 64px;
}

.u-section-12 .u-image-2 {
  width: 309px;
  height: 187px;
  margin: 118px auto 0 414px;
}

.u-section-12 .u-text-5 {
  margin: -110px 90px 0 auto;
}

.u-section-12 .u-text-6 {
  margin: -43px 813px 0 69px;
}

.u-section-12 .u-image-3 {
  width: 309px;
  height: 169px;
  margin: 98px auto 0 414px;
}

.u-section-12 .u-text-7 {
  margin: -99px 869px 0 110px;
}

.u-section-12 .u-text-8 {
  margin: -29px 126px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-12 .u-text-4 {
    margin-right: 678px;
  }

  .u-section-12 .u-text-6 {
    margin-right: 671px;
  }

  .u-section-12 .u-text-7 {
    margin-right: 717px;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-image-1 {
    margin-left: 411px;
  }

  .u-section-12 .u-text-4 {
    margin-right: 519px;
  }

  .u-section-12 .u-image-2 {
    margin-left: 411px;
  }

  .u-section-12 .u-text-6 {
    margin-right: 514px;
  }

  .u-section-12 .u-image-3 {
    margin-left: 411px;
  }

  .u-section-12 .u-text-7 {
    margin-right: 549px;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-image-1 {
    margin-left: 231px;
  }

  .u-section-12 .u-text-4 {
    margin-right: 389px;
  }

  .u-section-12 .u-image-2 {
    margin-left: 231px;
  }

  .u-section-12 .u-text-6 {
    margin-right: 386px;
  }

  .u-section-12 .u-image-3 {
    margin-left: 231px;
  }

  .u-section-12 .u-text-7 {
    margin-right: 412px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-image-1 {
    margin-left: 31px;
  }

  .u-section-12 .u-text-4 {
    margin-right: 245px;
  }

  .u-section-12 .u-image-2 {
    margin-left: 31px;
  }

  .u-section-12 .u-text-6 {
    margin-right: 243px;
  }

  .u-section-12 .u-image-3 {
    margin-left: 31px;
  }

  .u-section-12 .u-text-7 {
    margin-right: 259px;
  }

  .u-section-12 .u-text-8 {
    margin-right: 79px;
  }
}.u-section-13 .u-sheet-1 {
  min-height: 1394px;
}

.u-section-13 .u-text-1 {
  margin: 37px auto 0 0;
}

.u-section-13 .u-text-2 {
  margin: 21px 0 0;
}

.u-section-13 .u-image-1 {
  width: 335px;
  height: 335px;
  margin: 50px 315px 0 auto;
}

.u-section-13 .u-text-3 {
  margin: -263px auto 0 20px;
}

.u-section-13 .u-image-2 {
  width: 84px;
  height: 84px;
  margin: 25px 138px 0 auto;
}

.u-section-13 .u-text-4 {
  margin: -38px auto 0 149px;
}

.u-section-13 .u-image-3 {
  width: 335px;
  height: 335px;
  margin: 171px 315px 0 auto;
}

.u-section-13 .u-image-4 {
  width: 84px;
  height: 84px;
  margin: -209px 138px 0 auto;
}

.u-section-13 .u-text-5 {
  margin: -101px auto 0 37px;
}

.u-section-13 .u-text-6 {
  margin: 93px auto 0 150px;
}

.u-section-13 .u-image-5 {
  width: 335px;
  height: 307px;
  margin: 113px 315px 0 auto;
}

.u-section-13 .u-text-7 {
  margin: -207px auto 0 150px;
}

.u-section-13 .u-text-8 {
  margin: 71px auto 0 37px;
}

.u-section-13 .u-image-6 {
  width: 84px;
  height: 94px;
  margin: -122px 138px 60px auto;
}

@media (max-width: 767px) {
  .u-section-13 .u-image-1 {
    margin-right: 205px;
  }

  .u-section-13 .u-image-3 {
    margin-right: 205px;
  }

  .u-section-13 .u-image-5 {
    margin-right: 205px;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-image-1 {
    margin-right: 5px;
  }

  .u-section-13 .u-text-4 {
    margin-left: 94px;
  }

  .u-section-13 .u-image-3 {
    margin-right: 5px;
  }

  .u-section-13 .u-text-6 {
    margin-left: 94px;
  }

  .u-section-13 .u-image-5 {
    margin-right: 5px;
  }

  .u-section-13 .u-text-7 {
    margin-left: 94px;
  }
}.u-section-14 .u-sheet-1 {
  min-height: 2133px;
}

.u-section-14 .u-text-1 {
  margin: 20px auto 0 0;
}

.u-section-14 .u-text-2 {
  margin: 20px auto 0 0;
}

.u-section-14 .u-text-3 {
  margin: 20px auto 0 0;
}

.u-section-14 .u-text-4 {
  margin: 20px auto 0 0;
}

.u-section-14 .u-text-5 {
  margin: 20px auto 0 0;
}

.u-section-14 .u-text-6 {
  margin: 20px auto 0 0;
}

.u-section-14 .u-text-7 {
  margin: 20px auto 0 0;
}

.u-section-14 .u-text-8 {
  margin: 20px auto 0 0;
}

.u-section-14 .u-image-1 {
  width: 824px;
  height: 677px;
  margin: 20px auto 0;
}

.u-section-14 .u-text-9 {
  margin: 37px 482px 0 0;
}

.u-section-14 .u-image-2 {
  width: 404px;
  height: 687px;
  margin: -288px 34px 0 auto;
}

.u-section-14 .u-image-3 {
  width: 606px;
  height: 357px;
  margin: -365px auto 60px 52px;
}

@media (max-width: 1199px) {
  .u-section-14 .u-text-9 {
    margin-right: 282px;
  }
}

@media (max-width: 991px) {
  .u-section-14 .u-sheet-1 {
    min-height: 2048px;
  }

  .u-section-14 .u-image-1 {
    width: 720px;
    height: 592px;
  }

  .u-section-14 .u-text-9 {
    margin-right: 62px;
  }
}

@media (max-width: 767px) {
  .u-section-14 .u-sheet-1 {
    min-height: 1861px;
  }

  .u-section-14 .u-image-1 {
    width: 540px;
    height: 444px;
  }

  .u-section-14 .u-text-9 {
    margin-right: 0;
  }

  .u-section-14 .u-image-2 {
    margin-top: -328px;
  }

  .u-section-14 .u-image-3 {
    width: 540px;
    height: 318px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-14 .u-sheet-1 {
    min-height: 1470px;
  }

  .u-section-14 .u-image-1 {
    width: 340px;
    height: 280px;
  }

  .u-section-14 .u-image-2 {
    width: 340px;
    height: 578px;
    margin-top: -211px;
    margin-right: 0;
  }

  .u-section-14 .u-image-3 {
    width: 340px;
    height: 200px;
    margin-top: -256px;
  }
}.u-section-15 .u-sheet-1 {
  min-height: 864px;
}

.u-section-15 .u-text-1 {
  margin: 20px auto 0 0;
}

.u-section-15 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-15 .u-image-1 {
  height: 340px;
  margin-top: 14px;
  margin-bottom: 0;
}

.u-section-15 .u-image-2 {
  height: 336px;
  margin-top: 33px;
  margin-bottom: 20px;
}.u-section-16 .u-sheet-1 {
  min-height: 4330px;
}

.u-section-16 .u-text-1 {
  margin: 20px auto 0 0;
}

.u-section-16 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-16 .u-image-1 {
  width: 529px;
  height: 300px;
  margin: 20px auto 0;
}

.u-section-16 .u-image-2 {
  width: 1002px;
  height: 705px;
  margin: 20px auto 0;
}

.u-section-16 .u-text-3 {
  margin: 50px auto 0 0;
}

.u-section-16 .u-text-4 {
  margin: 20px auto 0 0;
}

.u-section-16 .u-text-5 {
  margin: 42px 805px 0 0;
}

.u-section-16 .u-text-6 {
  margin: 28px auto 0 0;
}

.u-section-16 .u-text-7 {
  margin: 20px auto 0 0;
}

.u-section-16 .u-image-3 {
  width: 463px;
  height: 268px;
  margin: 9px 366px 0 311px;
}

.u-section-16 .u-text-8 {
  margin: 20px auto 0 0;
}

.u-section-16 .u-text-9 {
  margin: 28px auto 0 0;
}

.u-section-16 .u-image-4 {
  width: 570px;
  height: 142px;
  margin: 20px 270px 0 300px;
}

.u-section-16 .u-image-5 {
  width: 570px;
  height: 142px;
  margin: 20px auto 0 300px;
}

.u-section-16 .u-image-6 {
  width: 570px;
  height: 142px;
  margin: 28px auto 0 300px;
}

.u-section-16 .u-text-10 {
  margin: 28px auto 0 0;
}

.u-section-16 .u-text-11 {
  margin: 17px 0 0;
}

.u-section-16 .u-text-12 {
  width: 80px;
  margin: 69px auto 0;
}

.u-section-16 .u-image-7 {
  width: 570px;
  height: 205px;
  margin: 14px auto 0;
}

.u-section-16 .u-text-13 {
  width: 91px;
  margin: 11px auto 0;
}

.u-section-16 .u-image-8 {
  width: 570px;
  height: 205px;
  margin: 10px auto 0;
}

.u-section-16 .u-text-14 {
  width: 91px;
  margin: 14px auto 0;
}

.u-section-16 .u-image-9 {
  width: 570px;
  height: 205px;
  margin: 9px auto 0;
}

.u-section-16 .u-image-10 {
  width: 530px;
  height: 300px;
  margin: 42px auto 0;
}

.u-section-16 .u-text-15 {
  margin: 30px 0 0;
}

.u-section-16 .u-text-16 {
  margin: 20px 0;
}

@media (max-width: 1199px) {
  .u-section-16 .u-sheet-1 {
    min-height: 4286px;
  }

  .u-section-16 .u-text-1 {
    margin-top: 523px;
  }

  .u-section-16 .u-image-2 {
    width: 940px;
    height: 661px;
  }

  .u-section-16 .u-text-5 {
    margin-right: 605px;
  }

  .u-section-16 .u-image-3 {
    margin-right: 266px;
    margin-left: 211px;
  }

  .u-section-16 .u-image-4 {
    margin-right: 170px;
    margin-left: 200px;
  }

  .u-section-16 .u-image-5 {
    margin-left: 200px;
  }

  .u-section-16 .u-image-6 {
    margin-left: 200px;
  }

  .u-section-16 .u-text-11 {
    margin-right: -88px;
  }

  .u-section-16 .u-text-12 {
    margin-top: 104px;
  }

  .u-section-16 .u-image-7 {
    margin-top: -168px;
  }

  .u-section-16 .u-text-13 {
    margin-top: 225px;
  }

  .u-section-16 .u-image-8 {
    margin-top: -274px;
  }

  .u-section-16 .u-text-14 {
    margin-top: 154px;
    margin-bottom: -123px;
  }
}

@media (max-width: 991px) {
  .u-section-16 .u-sheet-1 {
    min-height: 4131px;
  }

  .u-section-16 .u-text-1 {
    margin-top: 334px;
  }

  .u-section-16 .u-image-2 {
    width: 720px;
    height: 506px;
  }

  .u-section-16 .u-text-5 {
    margin-right: 385px;
  }

  .u-section-16 .u-image-3 {
    margin-right: 156px;
    margin-left: 101px;
  }

  .u-section-16 .u-image-4 {
    margin-right: 60px;
    margin-left: 90px;
  }

  .u-section-16 .u-image-5 {
    margin-left: 90px;
  }

  .u-section-16 .u-image-6 {
    margin-left: 90px;
  }

  .u-section-16 .u-image-7 {
    margin-top: -181px;
  }

  .u-section-16 .u-text-13 {
    margin-top: 237px;
  }

  .u-section-16 .u-image-8 {
    margin-top: -287px;
  }

  .u-section-16 .u-text-14 {
    margin-top: 166px;
    margin-bottom: -135px;
  }
}

@media (max-width: 767px) {
  .u-section-16 .u-sheet-1 {
    min-height: 3951px;
  }

  .u-section-16 .u-text-1 {
    margin-top: 1149px;
  }

  .u-section-16 .u-image-2 {
    width: 540px;
    height: 380px;
  }

  .u-section-16 .u-text-5 {
    margin-top: 1423px;
    margin-right: 205px;
  }

  .u-section-16 .u-text-6 {
    margin-top: -152px;
  }

  .u-section-16 .u-text-7 {
    margin-top: -61px;
  }

  .u-section-16 .u-image-3 {
    margin-top: 108px;
    margin-right: 66px;
    margin-left: 11px;
  }

  .u-section-16 .u-text-9 {
    margin-top: -687px;
  }

  .u-section-16 .u-image-4 {
    width: 540px;
    height: 135px;
    margin-top: 653px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-16 .u-image-5 {
    width: 540px;
    height: 135px;
    margin-left: 0;
  }

  .u-section-16 .u-image-6 {
    width: 540px;
    height: 135px;
    margin-left: 0;
  }

  .u-section-16 .u-text-11 {
    margin-top: -1956px;
  }

  .u-section-16 .u-text-12 {
    margin-top: 93px;
  }

  .u-section-16 .u-image-7 {
    width: 540px;
    height: 194px;
    margin-top: -347px;
  }

  .u-section-16 .u-text-13 {
    margin-top: 265px;
  }

  .u-section-16 .u-image-8 {
    width: 540px;
    height: 194px;
    margin-top: -306px;
  }

  .u-section-16 .u-text-14 {
    margin-top: 196px;
    margin-bottom: -162px;
  }

  .u-section-16 .u-image-9 {
    width: 540px;
    height: 194px;
  }
}

@media (max-width: 575px) {
  .u-section-16 .u-sheet-1 {
    min-height: 3158px;
  }

  .u-section-16 .u-text-1 {
    margin-top: 889px;
  }

  .u-section-16 .u-image-1 {
    width: 340px;
    height: 193px;
  }

  .u-section-16 .u-image-2 {
    width: 340px;
    height: 239px;
  }

  .u-section-16 .u-text-5 {
    margin-top: 1577px;
    margin-right: 5px;
  }

  .u-section-16 .u-text-6 {
    margin-top: -592px;
  }

  .u-section-16 .u-text-7 {
    margin-top: 328px;
  }

  .u-section-16 .u-image-3 {
    width: 340px;
    height: 197px;
    margin-top: -332px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-16 .u-text-9 {
    margin-top: -202px;
  }

  .u-section-16 .u-image-4 {
    width: 340px;
    height: 85px;
    margin-top: 117px;
  }

  .u-section-16 .u-image-5 {
    width: 340px;
    height: 85px;
  }

  .u-section-16 .u-image-6 {
    width: 340px;
    height: 85px;
  }

  .u-section-16 .u-text-11 {
    margin-top: -1423px;
  }

  .u-section-16 .u-text-12 {
    margin-top: 57px;
  }

  .u-section-16 .u-image-7 {
    width: 340px;
    height: 122px;
    margin-top: -518px;
  }

  .u-section-16 .u-text-13 {
    margin-top: 507px;
  }

  .u-section-16 .u-image-8 {
    width: 340px;
    height: 122px;
    margin-top: -721px;
  }

  .u-section-16 .u-text-14 {
    margin-top: 683px;
    margin-bottom: -649px;
  }

  .u-section-16 .u-image-9 {
    width: 340px;
    height: 122px;
  }

  .u-section-16 .u-image-10 {
    width: 340px;
    height: 192px;
  }
}